<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.coco.mapper.TbFlowMapper" >
  <resultMap id="BaseResultMap" type="com.coco.pojo.TbFlow" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="SESSIONID" property="sessionid" jdbcType="VARCHAR" />
    <result column="HANDLER" property="handler" jdbcType="DECIMAL" />
    <result column="URL" property="url" jdbcType="VARCHAR" />
    <result column="BROWSER" property="browser" jdbcType="VARCHAR" />
    <result column="REFER" property="refer" jdbcType="VARCHAR" />
    <result column="IP" property="ip" jdbcType="VARCHAR" />
    <result column="CREATED" property="created" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, SESSIONID, HANDLER, URL, BROWSER, REFER, IP, CREATED
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.coco.pojo.TbFlowExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from TB_FLOW
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.math.BigDecimal" >
    select 
    <include refid="Base_Column_List" />
    from TB_FLOW
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal" >
    delete from TB_FLOW
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.coco.pojo.TbFlowExample" >
    delete from TB_FLOW
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.coco.pojo.TbFlow" >
    insert into TB_FLOW (ID, SESSIONID, HANDLER, 
      URL, BROWSER, REFER, 
      IP, CREATED)
    values (#{id,jdbcType=DECIMAL}, #{sessionid,jdbcType=VARCHAR}, #{handler,jdbcType=DECIMAL}, 
      #{url,jdbcType=VARCHAR}, #{browser,jdbcType=VARCHAR}, #{refer,jdbcType=VARCHAR}, 
      #{ip,jdbcType=VARCHAR}, #{created,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.coco.pojo.TbFlow" >
    insert into TB_FLOW
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="sessionid != null" >
        SESSIONID,
      </if>
      <if test="handler != null" >
        HANDLER,
      </if>
      <if test="url != null" >
        URL,
      </if>
      <if test="browser != null" >
        BROWSER,
      </if>
      <if test="refer != null" >
        REFER,
      </if>
      <if test="ip != null" >
        IP,
      </if>
      <if test="created != null" >
        CREATED,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="sessionid != null" >
        #{sessionid,jdbcType=VARCHAR},
      </if>
      <if test="handler != null" >
        #{handler,jdbcType=DECIMAL},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="browser != null" >
        #{browser,jdbcType=VARCHAR},
      </if>
      <if test="refer != null" >
        #{refer,jdbcType=VARCHAR},
      </if>
      <if test="ip != null" >
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="created != null" >
        #{created,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.coco.pojo.TbFlowExample" resultType="java.lang.Integer" >
    select count(*) from TB_FLOW
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update TB_FLOW
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=DECIMAL},
      </if>
      <if test="record.sessionid != null" >
        SESSIONID = #{record.sessionid,jdbcType=VARCHAR},
      </if>
      <if test="record.handler != null" >
        HANDLER = #{record.handler,jdbcType=DECIMAL},
      </if>
      <if test="record.url != null" >
        URL = #{record.url,jdbcType=VARCHAR},
      </if>
      <if test="record.browser != null" >
        BROWSER = #{record.browser,jdbcType=VARCHAR},
      </if>
      <if test="record.refer != null" >
        REFER = #{record.refer,jdbcType=VARCHAR},
      </if>
      <if test="record.ip != null" >
        IP = #{record.ip,jdbcType=VARCHAR},
      </if>
      <if test="record.created != null" >
        CREATED = #{record.created,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update TB_FLOW
    set ID = #{record.id,jdbcType=DECIMAL},
      SESSIONID = #{record.sessionid,jdbcType=VARCHAR},
      HANDLER = #{record.handler,jdbcType=DECIMAL},
      URL = #{record.url,jdbcType=VARCHAR},
      BROWSER = #{record.browser,jdbcType=VARCHAR},
      REFER = #{record.refer,jdbcType=VARCHAR},
      IP = #{record.ip,jdbcType=VARCHAR},
      CREATED = #{record.created,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.coco.pojo.TbFlow" >
    update TB_FLOW
    <set >
      <if test="sessionid != null" >
        SESSIONID = #{sessionid,jdbcType=VARCHAR},
      </if>
      <if test="handler != null" >
        HANDLER = #{handler,jdbcType=DECIMAL},
      </if>
      <if test="url != null" >
        URL = #{url,jdbcType=VARCHAR},
      </if>
      <if test="browser != null" >
        BROWSER = #{browser,jdbcType=VARCHAR},
      </if>
      <if test="refer != null" >
        REFER = #{refer,jdbcType=VARCHAR},
      </if>
      <if test="ip != null" >
        IP = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="created != null" >
        CREATED = #{created,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.coco.pojo.TbFlow" >
    update TB_FLOW
    set SESSIONID = #{sessionid,jdbcType=VARCHAR},
      HANDLER = #{handler,jdbcType=DECIMAL},
      URL = #{url,jdbcType=VARCHAR},
      BROWSER = #{browser,jdbcType=VARCHAR},
      REFER = #{refer,jdbcType=VARCHAR},
      IP = #{ip,jdbcType=VARCHAR},
      CREATED = #{created,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>