<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.coco.mapper.TbFlowAchievementReportMapper" >
  <resultMap id="BaseResultMap" type="com.coco.pojo.TbFlowAchievementReport" >
    <result column="SERVERDATE" property="serverdate" jdbcType="VARCHAR" />
    <result column="PV" property="pv" jdbcType="DECIMAL" />
    <result column="UV" property="uv" jdbcType="DECIMAL" />
    <result column="STATUSONEMEDICAL" property="statusonemedical" jdbcType="DECIMAL" />
    <result column="STATUSTWOMEDICAL" property="statustwomedical" jdbcType="DECIMAL" />
    <result column="STATUSTHREEMEDICAL" property="statusthreemedical" jdbcType="DECIMAL" />
    <result column="STATUSZEROMEDICAL" property="statuszeromedical" jdbcType="DECIMAL" />
    <result column="STATUSONEPACKAGE" property="statusonepackage" jdbcType="DECIMAL" />
    <result column="STATUSTWOPACKAGE" property="statustwopackage" jdbcType="DECIMAL" />
    <result column="STATUSZEROPACKAGE" property="statuszeropackage" jdbcType="DECIMAL" />
    <result column="REVENUEOFMEDICAL" property="revenueofmedical" jdbcType="DECIMAL" />
    <result column="REVENUEOFPACKAGE" property="revenueofpackage" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    SERVERDATE, PV, UV, STATUSONEMEDICAL, STATUSTWOMEDICAL, STATUSTHREEMEDICAL, STATUSZEROMEDICAL, 
    STATUSONEPACKAGE, STATUSTWOPACKAGE, STATUSZEROPACKAGE, REVENUEOFMEDICAL, REVENUEOFPACKAGE
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.coco.pojo.TbFlowAchievementReportExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from TB_FLOW_ACHIEVEMENT_REPORT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.coco.pojo.TbFlowAchievementReportExample" >
    delete from TB_FLOW_ACHIEVEMENT_REPORT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.coco.pojo.TbFlowAchievementReport" >
    insert into TB_FLOW_ACHIEVEMENT_REPORT (SERVERDATE, PV, UV, 
      STATUSONEMEDICAL, STATUSTWOMEDICAL, STATUSTHREEMEDICAL, 
      STATUSZEROMEDICAL, STATUSONEPACKAGE, STATUSTWOPACKAGE, 
      STATUSZEROPACKAGE, REVENUEOFMEDICAL, REVENUEOFPACKAGE
      )
    values (#{serverdate,jdbcType=VARCHAR}, #{pv,jdbcType=DECIMAL}, #{uv,jdbcType=DECIMAL}, 
      #{statusonemedical,jdbcType=DECIMAL}, #{statustwomedical,jdbcType=DECIMAL}, #{statusthreemedical,jdbcType=DECIMAL}, 
      #{statuszeromedical,jdbcType=DECIMAL}, #{statusonepackage,jdbcType=DECIMAL}, #{statustwopackage,jdbcType=DECIMAL}, 
      #{statuszeropackage,jdbcType=DECIMAL}, #{revenueofmedical,jdbcType=DECIMAL}, #{revenueofpackage,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.coco.pojo.TbFlowAchievementReport" >
    insert into TB_FLOW_ACHIEVEMENT_REPORT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="serverdate != null" >
        SERVERDATE,
      </if>
      <if test="pv != null" >
        PV,
      </if>
      <if test="uv != null" >
        UV,
      </if>
      <if test="statusonemedical != null" >
        STATUSONEMEDICAL,
      </if>
      <if test="statustwomedical != null" >
        STATUSTWOMEDICAL,
      </if>
      <if test="statusthreemedical != null" >
        STATUSTHREEMEDICAL,
      </if>
      <if test="statuszeromedical != null" >
        STATUSZEROMEDICAL,
      </if>
      <if test="statusonepackage != null" >
        STATUSONEPACKAGE,
      </if>
      <if test="statustwopackage != null" >
        STATUSTWOPACKAGE,
      </if>
      <if test="statuszeropackage != null" >
        STATUSZEROPACKAGE,
      </if>
      <if test="revenueofmedical != null" >
        REVENUEOFMEDICAL,
      </if>
      <if test="revenueofpackage != null" >
        REVENUEOFPACKAGE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="serverdate != null" >
        #{serverdate,jdbcType=VARCHAR},
      </if>
      <if test="pv != null" >
        #{pv,jdbcType=DECIMAL},
      </if>
      <if test="uv != null" >
        #{uv,jdbcType=DECIMAL},
      </if>
      <if test="statusonemedical != null" >
        #{statusonemedical,jdbcType=DECIMAL},
      </if>
      <if test="statustwomedical != null" >
        #{statustwomedical,jdbcType=DECIMAL},
      </if>
      <if test="statusthreemedical != null" >
        #{statusthreemedical,jdbcType=DECIMAL},
      </if>
      <if test="statuszeromedical != null" >
        #{statuszeromedical,jdbcType=DECIMAL},
      </if>
      <if test="statusonepackage != null" >
        #{statusonepackage,jdbcType=DECIMAL},
      </if>
      <if test="statustwopackage != null" >
        #{statustwopackage,jdbcType=DECIMAL},
      </if>
      <if test="statuszeropackage != null" >
        #{statuszeropackage,jdbcType=DECIMAL},
      </if>
      <if test="revenueofmedical != null" >
        #{revenueofmedical,jdbcType=DECIMAL},
      </if>
      <if test="revenueofpackage != null" >
        #{revenueofpackage,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.coco.pojo.TbFlowAchievementReportExample" resultType="java.lang.Integer" >
    select count(*) from TB_FLOW_ACHIEVEMENT_REPORT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update TB_FLOW_ACHIEVEMENT_REPORT
    <set >
      <if test="record.serverdate != null" >
        SERVERDATE = #{record.serverdate,jdbcType=VARCHAR},
      </if>
      <if test="record.pv != null" >
        PV = #{record.pv,jdbcType=DECIMAL},
      </if>
      <if test="record.uv != null" >
        UV = #{record.uv,jdbcType=DECIMAL},
      </if>
      <if test="record.statusonemedical != null" >
        STATUSONEMEDICAL = #{record.statusonemedical,jdbcType=DECIMAL},
      </if>
      <if test="record.statustwomedical != null" >
        STATUSTWOMEDICAL = #{record.statustwomedical,jdbcType=DECIMAL},
      </if>
      <if test="record.statusthreemedical != null" >
        STATUSTHREEMEDICAL = #{record.statusthreemedical,jdbcType=DECIMAL},
      </if>
      <if test="record.statuszeromedical != null" >
        STATUSZEROMEDICAL = #{record.statuszeromedical,jdbcType=DECIMAL},
      </if>
      <if test="record.statusonepackage != null" >
        STATUSONEPACKAGE = #{record.statusonepackage,jdbcType=DECIMAL},
      </if>
      <if test="record.statustwopackage != null" >
        STATUSTWOPACKAGE = #{record.statustwopackage,jdbcType=DECIMAL},
      </if>
      <if test="record.statuszeropackage != null" >
        STATUSZEROPACKAGE = #{record.statuszeropackage,jdbcType=DECIMAL},
      </if>
      <if test="record.revenueofmedical != null" >
        REVENUEOFMEDICAL = #{record.revenueofmedical,jdbcType=DECIMAL},
      </if>
      <if test="record.revenueofpackage != null" >
        REVENUEOFPACKAGE = #{record.revenueofpackage,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update TB_FLOW_ACHIEVEMENT_REPORT
    set SERVERDATE = #{record.serverdate,jdbcType=VARCHAR},
      PV = #{record.pv,jdbcType=DECIMAL},
      UV = #{record.uv,jdbcType=DECIMAL},
      STATUSONEMEDICAL = #{record.statusonemedical,jdbcType=DECIMAL},
      STATUSTWOMEDICAL = #{record.statustwomedical,jdbcType=DECIMAL},
      STATUSTHREEMEDICAL = #{record.statusthreemedical,jdbcType=DECIMAL},
      STATUSZEROMEDICAL = #{record.statuszeromedical,jdbcType=DECIMAL},
      STATUSONEPACKAGE = #{record.statusonepackage,jdbcType=DECIMAL},
      STATUSTWOPACKAGE = #{record.statustwopackage,jdbcType=DECIMAL},
      STATUSZEROPACKAGE = #{record.statuszeropackage,jdbcType=DECIMAL},
      REVENUEOFMEDICAL = #{record.revenueofmedical,jdbcType=DECIMAL},
      REVENUEOFPACKAGE = #{record.revenueofpackage,jdbcType=DECIMAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>